*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
.image1{
    width: 80%;
    margin: auto;
   
}
.topright{
    margin-left: 5px;
}


/* .paragraph{
    font-size: 30px;
} */
.cards p{
    text-align: center;
    
}
.footer1{
    width: 100%;
   
    color: rgb(255, 136, 0);
    background-color: black;
}
.texts p{
    line-height: 15px;
}
.footer1 p{
    padding-left: 15px;
}
.paragraphs{
    padding-left: 10px;
}